@font-face {
  font-family: Nunito;
  src: url("Fonts/Nunito-VariableFont_wght.ttf");
}

body {
  font-family: "Nunito";
}
.p-carousel .p-carousel-content .p-carousel-prev,
.p-carousel .p-carousel-content  {
  color: #2F4944;
}